.test-box-wide {
	background-color: #345;

  &__wider {
    border-radius: 100%;
  }

  .text-center {
    text-align: center;
  }

}

.nest {
  background: red;
  &ed {
    display: flex;
    &__more {
      justify-content: center;
    }
  }
}
