<section class="test-module" align="center">
  <p>this is test module</p>
  <!-- partial:subtest.html -->
  <!-- partial -->
<svg width="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375.147 375.147">
  <defs>
    <style>
      .tick {
        stroke-dasharray: 800;
        stroke-dashoffset: 0;
        animation: dash 2s linear forwards;
      }

      @-webkit-keyframes dash {
        from {
          stroke-dashoffset: 800;
        }
        to {
          stroke-dashoffset: 0;
        }
      }

    </style>
  </defs>
  <path class="tick" d="M344.96 44.48L119.147 270.293l-88.96-88.96L0 211.52l119.147 119.147 256-256z"/>

</svg>
</section>
