@import "settings";

body {
	background-color: $colorBg;
	color: $color;
	font-family: $font;
	padding: 20px 50px;
}

div {
	display: flex;
}

.lorem {
  background-color: white;
	border: 3px solid #fff;
	padding: 30px;
	margin-bottom: 20px;
}

.mouse-pos {
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 30px;
	background-color: #fff;
}

h1 {
	border-radius: 1px solid #000;
}