.lorem {
	background-color: purple;
	color: red;
  &-ipsum {
    color: white;
    .nest-test {
      background: red;
    }
  }

}

.next-nest-test {
  border: 1px solid white;

  .instane-test {
    background: purple;

    .insane-nest-test {
      color: red;
    }
  }
}
